/*###############################*/
/*###############################*/
/*###############################*/
/*########## VARIABLES ##########*/
/*###############################*/
/*###############################*/
/*###############################*/

:root {
    --white: white;
    --blue_white: #edf1f5;
    --blue_gray: #e0e4e9;
    --light_black: #2d2d2d;
    --black: #000000;
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


